<section id="bg_section" >
    <div id="content_section">
         <img id="bgimg" src="assets/event/MakeAWish.jpg" alt=""> 

    
    
    </div>
</section>
<div id="pledge" style="cursor: pointer;"[routerLink]="['/signaturewall']" >
    <div class="pulsating-circle"></div>
  </div>