<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="">
        <div id="login_section">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">            
                <div class="form-group">
                    <div class="invalidError" *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                        Email is Required*
                    </div>
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="Registered Email ID">    
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="Login">

                </div>
               
            </form>
            <br>
            <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div>


<!-- 
    import { Component, OnInit } from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';
import { Router } from '@angular/router';
import { AuthService } from '../services/auth.service';
import { DataService } from '../services/data.service';
import { Eventid } from '../shared/eventid';

@Component({
  selector: 'app-login',
  templateUrl: './login.component.html',
  styleUrls: ['./login.component.scss']
})
export class LoginComponent implements OnInit {
  loginForm: FormGroup;
  event_id = Eventid.event_id;
  isVideoPlayed = false;
  menu_type;
  newName: any;
  totalEmail: string;
  msg;
  constructor(private fb: FormBuilder, private auth: AuthService, private router: Router,private _fd: DataService) { }

  ngOnInit(): void {

    localStorage.setItem('tour_guide', 'start_guide');
    this.loginForm = this.fb.group({
      egil: ['', Validators.required],
       name: ['', Validators.required]
    });
  /*  const played:any = document.getElementById('lol');

    played.play();  */
  }
 
  skip(){
    this.router.navigate(['/lobby']);
  }
  submitLogin(){
   
     const user = {
       egil: this.loginForm.value.egil,
       name:this.loginForm.value.name,
     event_id: this.event_id,
       role_id: 1,
     };
  
    // var isMobile = {
    //   Android: ()=> {
    //       return navigator.userAgent.match(/Android/i);
    //   },
    //   BlackBerry: ()=> {
    //       return navigator.userAgent.match(/BlackBerry/i);
    //   },
    //   iOS: ()=> {
    //       return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    //   },
    //   Opera: ()=> {
    //       return navigator.userAgent.match(/Opera Mini/i);
    //   },
    //   Windows: ()=> {
    //       return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
    //   },
    //   any: ()=> {
    //       return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    //   }
    // };
  
    // this.auth.loginMethod(user).subscribe((res: any) => {
    //   if (res.code === 1) {
    //     localStorage.setItem('menu_type', JSON.stringify(res.result.menu_type));
    //     if( isMobile.iOS() ){
    //       this.isVideoPlayed = false;
    //       this.router.navigateByUrl('/lobby');
    //     }
    //     if(res.result.outer_animation == true){
    //       let vid: any = document.getElementById('outerVideo');
    //       let sources = vid.getElementsByTagName('source');
    //       sources[0].src = res.result.outer_animation_url;
    //       vid.load();
    //       vid.play();
    //     }
    //     localStorage.setItem('virtual', JSON.stringify(res.result));
    //     this.isVideoPlayed = true;
    //   } else {
    //     this.isVideoPlayed = false;
    //     this.loginForm.reset();
    //   }
    // }, (err: any) => {
    //   this.isVideoPlayed = false;
    //   console.log('error', err)
    // });
     if (this.loginForm.invalid) {
      return
    } else{      
    console.log('logindata', this.loginForm.value);
   
      const formData = new FormData();
      
    // this.newName =  (this.loginForm.value.first_name).trim();
    // this.totalEmail = this.newName+ Math.floor(Math.random() * 1000000) +'@pds.com';
   /*  email:asd@gmail.com
    password:fd
    mobile:fg
    category:gh
    company:j
    name:k */
      formData.append('email', this.loginForm.value.egil+'@main.com');
      formData.append('password','others');
      formData.append('mobile','others');
      formData.append('category','others');
      formData.append('company','ericsson');
      formData.append('name', this.loginForm.value.name);
    //  formData.append('headquarter', this.signupForm.get('job_title').value);
      var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
        
    };
   
    this.auth.loginMethod(user).subscribe((res: any) => {
      if (res.code === 1) {
       
        // let emails = this.totalEmail.toLowerCase();
        // this._fd.signupRaise(emails,this.loginForm.value.first_name).subscribe((res:any) => {

        // });
        //   this._fd.getloginforhand(emails).subscribe((res: any) => {
        //     localStorage.setItem('getdata', JSON.stringify(res.result));
        //   })
        //   localStorage.setItem('myemail', emails);

        if( isMobile.iOS() ){
          this.isVideoPlayed = false;
          this.router.navigateByUrl('/lobby');
        }
        this.isVideoPlayed = true;
        localStorage.setItem('virtual', JSON.stringify(res.result));
        this.isVideoPlayed = true;
        let vid: any = document.getElementById('outerVideo');
        vid.play();
        /* if (window.innerHeight>window.innerWidth){
          this.potrait = true;
        }else{
          this.potrait = false;
        } */
      } else {
      //  this.msg = 'Invalid Login';
      this.msg = 'Invalid Login';
        this.isVideoPlayed = false;
        this.loginForm.reset();
      }
        // if (res.code === 1) {
        //        localStorage.setItem('menu_type', JSON.stringify(res.result.menu_type));
        //        if( isMobile.iOS() ){
        //          this.isVideoPlayed = false;
        //          this.router.navigateByUrl('/lobby');
        //        }
        //        if(res.result.outer_animation == true){
        //          let vid: any = document.getElementById('outerVideo');
        //          let sources = vid.getElementsByTagName('source');
        //          sources[0].src = res.result.outer_animation_url;
        //         vid.load();
        //          vid.play();                
        //        }
        //        localStorage.setItem('virtual', JSON.stringify(res.result));
        //        this.isVideoPlayed = true;
        //     } else {
        //       this.isVideoPlayed = false;
        //      // this.loginForm.reset();
        //     }
          }, (err: any) => {
            this.isVideoPlayed = false;
            console.log('error', err)
           });
 // this.profileForm.reset();

  }}
 -->