<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <div class="content_video">
            <img src="assets/daflon/LandingPage9x16.jpg" width="100%" class="mbs">
            <img src="assets/daflon/LandingPage.jpg" width="100%" class="desk"> 
            <!-- <img id="bgimg" src="assets/daflon/LandingPage.jpg" alt=""> -->
           <!--  <img class="ghost" src="assets/event/logoIcon.jpg"> -->
        </div>
         <div id="login_section">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">            
                <div class="form-group">
                    
                    
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="NAME"> 
                    <div class="invalidError" *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        Name is Required*
                    </div>  
                   
                    
                    <input type="text" class="form-control" required autocomplete="off" formControlName="area" placeholder="AREA"> 
                    <div class="invalidError" *ngIf="(loginForm.get('area').invalid && loginFormDir.submitted) || (loginForm.get('area').dirty && loginForm.get('area').invalid)">
                        Area is Required*
                    </div> 
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="Login">

                </div>
               
            </form>
            <br>
            <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
       <!--  <div id="login_section">
            
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                <div class="form-group">
                    
                    <img src="assets/font/1.png" class="w-100">
                    <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
                    <p style="font-size: 30px;color:#c056a0;margin:0;">Sign
                        In</p>
                        <label>EGIL CODE</label>
                        <input type="text" class="form-control" required autocomplete="off" formControlName="egil" placeholder="EGILXXX">
                        <div class="invalidError" *ngIf="(loginForm.get('egil').invalid && loginFormDir.submitted) || (loginForm.get('egil').dirty && loginForm.get('egil').invalid)">
                            EGIL CODE IS REQUIRED*
                        </div>
                    <label>NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="ENTER YOUR NAME HERE">
                    <div class="invalidError" *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        NAME IS REQUIRED*
                    </div>
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" type="submit" value="Login" class="btn">
                </div>
               
            </form> 
        </div> -->
    </div>
</section>
<!-- <div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
      <a class="nav-link sign" (click)="skip()" title="skip" role="button">
          Skip</a>
    </span>
      <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/daflon/outer.mp4" type="video/mp4">
      </video>
  </div>  -->