
#login_section{   
    // position: absolute;
    // top: 35%;
    // left:5%;
    // width: 20%;
    // transform: translate(10%, -30%);
    background-color: #e6e6e673;
    top: 97%;
    width: 32%;
    position: absolute;
    left: 49%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.ghost{
    width: 29%;
    position: absolute;
    top: 0;
    left: 0;
}

.w-100{
    margin-bottom:20px;

}
form{
    width: 72%;
    margin-left: 15%;
    padding: 6% 0;
}
input[type="text"], input[type="email"]{
    background-color: #fff;
  //  margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
    margin-bottom:15px;
}
#submitBtn{
    text-align:center;
    width:100%;
}
   
    #loginbtn{
        display: inline-block;
        background-color: red;
        padding: 5px 40px;
        border-radius: 10px;
        color: white;
    }

label{
    color:#c056a0;
}

/* @media only screen and (max-width: 850px) {
    .w-100{margin-bottom:0px;}
    #loginbtn{
        margin: 8px 4px;
        padding: 2px 28px;
    }
    #login_section{   
        top: 40%;
    }
  } */
  #bg_section{
   // background-image: url(../../assets/daflon/LandingPage.jpg);
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

}

@media screen and (min-width: 500px) and (max-width: 3000px) {

  /*   #bg_section{
        background-image: url(../../assets/daflon/LandingPage.jpg);
        background-size: 100% 100%;
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
    
    } */
    .desk{
        display: block;
    }
    .mbs {
        display: none;
    }
} 
@media screen and (min-width: 560px) and (max-width: 800px) {

    #login_section{   
        top: 73%;
        width: 45%;
        position: absolute;
       
    }
     
  } 
  @media screen and (min-width: 810px) and (max-width: 850px) {

    #login_section{   
        top: 92%;
    }
     
  } 


@media screen and (max-width:480px) {
    .mbs {
        display: block;
    }
    .desk{
        display: none;
    }
    #login_section {
        top: 75%;
        width: 103%;
        position: absolute;
        left: 49%;
        background-color: #e6e6e673;
        padding-top: 24px;
    }
    form{
        width: 70%;
        margin-left: 15%;
    }
    input[type="text"], input[type="email"]{
        margin-bottom:5px;
    }
   
 /*    .mobile-bg {

        position: absolute;
    top: 0;
    left: 0;
    right: 0;
    } */
    
   /* .section1 {
       background-image: unset;
   }    */ 
    
}
