#boothIcons{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    ul{
        padding: 3px;
        li{
            list-style: none;
            cursor: pointer;
            text-decoration: none;
            padding: 8px 24px 8px 10px;
            border-radius: 5px;
            margin: 28px 5px;
            background-color: white;
            position: relative;
            text-transform: capitalize;
            transition: .3s;
            // transform: translateX(-105px);
            a{
                list-style: none;
                text-decoration: none;
                color: black;
                span{
                    width: 46px;
                    position: absolute;
                    right: -24px;
                    background: #fff;
                    top: -6px;
                    border-radius: 50%;
                    padding: 10px;                                    
                    img{
                        width: 100%;
                        transition: .3s;
                    }
                    
                }
            }
        }
        li:hover{
            transform: translateY(-5px);
            transition: .3s;
            img{
                transition: .3s;
                transform: scale(1.5);
            }
        }
    }
}


.p1{
    top: 50%;
    left: 28%;
}
.p2{
    top: 50%;
    left: 39%;
}
.p3{
    top: 50%;
    left: 50%;
}
.p4{
    top: 50%;
    left: 62%;
}
.p5{
    top: 50%;
    left: 73%;
}


#socialicons{
  position: absolute;
    top: 25%;
    right: 3%;
    display: grid;
    img, i{
      transform: scale(.75);
      transition: .3s;
      padding: 1px;
    }
    img:hover, i:hover{
      transform: scale(.9);
      transition: .3s;
    }
}
@media only screen and (max-width: 768px) {
  #socialicons{
      img{
        width: 33px;
        padding: 3px;
    }
    i{
        width: 33px;
        margin-left: 2px;
    }
  }
}