#openPhoto{
    position: absolute;
    top: 54%;
    left: 42%;
    width: 5%;
    height: 5%;
    cursor: pointer;
}

#wholeCam{
  #camImg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  #videobgStream{
      width: 100%;
  }
  
}
#buttons{
  text-align: center;
  justify-content: center;
  width: 100%;
  position:absolute;
  bottom:5%;
  img{
    width:30%;
      padding: 15px;
      cursor: pointer;
      transition: .3s;
  }
  .share-btn{
    cursor: pointer;
    .fa{
      font-size: 24px;
      background: #1f6085;
      color: white;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 50%;
      transition: .3s;
    }
  }
  .fa:hover, img:hover{
    transform: scale(1.2);
    transition: .3s;
  }
}
.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
  cursor: pointer;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
  cursor: pointer;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
  cursor: pointer;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
  cursor: pointer;
}

.share-btn-container .fa-instagram {
  color: #ca497a;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 550px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
}
#bgplace{
  position: absolute;
  top: 16%;
  left: 0;
  width: 115px;
  height: 210px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px #0000002e;
  transform: translate(-1500px);
}
#bgImgView{
  margin: 7.5px;
  position: absolute;
  top: 20%;
  left: 0px;
  width: 100px;
  padding: 5px;
  height: 120px;
  max-height: 120px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #3d4052b3;
  // background-color: #fff;
  // transform: translate(-1500px);
  transition: .3s;
  .fa{
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      font-size: 30px;
      background: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 27px;
      cursor: pointer;
      z-index: 10000;
    }
    .fa-angle-up{
      top: 0px;
    }
    .fa-angle-down{
      bottom: 0px;
    }
  ul{
    display: block;
    padding: 0;;  
    border-radius: 5px;
    transition: .3s;
  li{
      list-style: none;
      padding: 33px 5px;
      border-radius: 5px;
      img{
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.download{
  width:12% !important;
  
}