#potrait{
    //  background-image: url(../assets/daflon/LandingPage9x16.jpg);
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p{
          font-weight: 500;
          font-size: 14px;
          text-transform: capitalize;
      }
      img{
          width: 60%;
      }
  }
  
