<section id="bg_section" >
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <div  class="videoContainer">
            <span id="skip" >
              <a class="nav-link sign" (click)="skip()" title="skip" role="button">
                  Skip</a>
            </span>
              <video id="outerVideo" autoplay preload="auto" class="videoBg" (ended)="endVideo()">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/daflon/outer.mp4" type="video/mp4">
              </video>
          </div> 
      
    </div>
</section>
