<div id="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
        <ul id="sidenavList">
            <ng-container *ngFor="let menu of menuItems">
                <ng-container *ngIf="menu.is_enabled">
                    <li *ngIf="!menu.is_modal">
                        <a routerLink="/{{menu.path}}" routerLinkActive="activeLink" (click)="stepUpAnalytics1(menu.path)">
                            <img src="{{menu.icon}}" alt="">
                            {{menu.name | titlecase}}
                        </a>
                    </li>
                    <li *ngIf="menu.is_modal">
                        <a (click)="openModal(menu)">
                            <img src="{{menu.icon}}" alt="">
                            {{menu.name | titlecase}}
                        </a>
                    </li>
                </ng-container>                 
            </ng-container>           
        </ul>
    </div>
    <div id="hamburger" (click)="openSidebar()">&#9776;</div>
</div>
<div *ngIf="!url.url.includes('auditorium/full')" class="footer-nav">
    <ul class="footer-nav1">
        <ng-container *ngFor="let menu of menuItems">
            <ng-container *ngIf="menu.is_enabled">
                <li *ngIf="!menu.is_modal">
                    <a [routerLink]="'/'+menu.path" routerLinkActive="activeLink" (click)="stepUpAnalytics1(menu.path)">
                        <img src="{{menu.icon}}" alt="">
                        <div>{{menu.name | uppercase}}</div>
                    </a>
                </li>
                <li *ngIf="menu.is_modal">
                    <a (click)="openModal(menu)">
                        <img src="{{menu.icon}}" alt="">
                        <div>{{menu.name | uppercase}}</div>
                    </a>
                </li>
            </ng-container>
        </ng-container>
    </ul>
</div>

<div class="modal fade" id="pdf_modal1" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">      
        <div class="modal-body p-0">
          <div id="modal_popup">
              <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
              <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="pdf_modalLabel">{{pdfType}}</h5>
              </div>
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                        <div></div>
                      <div *ngIf="pdfType==='agenda'">
                        
                          
                            <embed src="https://d3ep09c8x21fmh.cloudfront.net/daflon/agenda1.pdf" frameborder="0" width="100%" height="540">
                          
                      </div>
                      <div *ngIf="pdfType==='feedback'">
                        <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550" src="https://forms.office.com/Pages/ResponsePage.aspx?id=9k8KzFSUS06IG4X0SN7i49RfB1ou8nZGuoHuezbEhO5UQ1U0T1ROMTBTT1g4UFpSWDNYRFpBM1c5Sy4u" width="100%"></iframe>                              

                      </div>
                    </div>
                  </div>
              </div>
          </div>      
        </div>      
      </div>
    </div>
  </div>