<section id="bg_section">
    <div id="content_section">
        <div class="bg"></div>
        <div id="page_section">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div id="page_content">
                            <div id="signupLogo" class="text-center">
                                <img src="assets/ipa/logo.png" width="36%" class="m-3" alt="">
                                <p class="text-center para">Discover in India: Accelerating the innovation <br> journey of the Indian life sciences industry</p>
                            </div>
                            <form [formGroup]="signupForm" #signupFormDir="ngForm" (ngSubmit)="submitSignup(signupFormDir)">
                                <div class="form-heading">
                                    <input type="button" class="sb-btn" value="REGISTRATION">
                                </div>
                                <div >
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="name">NAME OF PARTICIPANT:<span> *</span></label>
                                            <input type="text" class="form-control" id="name" autocomplete="off" required formControlName="name">
                                            <div class="invalidError" *ngIf="(signupForm.get('name').invalid && signupFormDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                                                Name is Required*
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="companyname">NAME OF COMPANY / ORGANISATION:<span> *</span></label>
                                            <input type="text" class="form-control" id="companyname" autocomplete="off" required formControlName="company">
                                            <div class="invalidError" *ngIf="(signupForm.get('company').invalid && signupFormDir.submitted) || (signupForm.get('company').dirty && signupForm.get('company').invalid)">
                                                Company is Required*
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="desig">DESIGANATION:<span> *</span></label>
                                            <input type="text" class="form-control" id="desig" autocomplete="off" required formControlName="designation">
                                            <div class="invalidError" *ngIf="(signupForm.get('designation').invalid && signupFormDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                                Designation is Required*
                                            </div>
                                        </div>
                                         <div class="col-lg-6">
                                            <label for="email">EMAIL ID:<span> *</span></label>
                                            <input type="email" class="form-control" id="email" autocomplete="off" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                            <div class="invalidError" *ngIf="(signupForm.get('email').invalid && signupFormDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                                Email is Required*
                                            </div>
                                        </div>
                                        <div class="col-lg-3"> </div>
                                        <div class="col-lg-6">
                                            <label for="depart">CONTACT NUMBER <small>(Optional)</small><span> *</span></label>
                                            <input type="text" class="form-control" autocomplete="off" required formControlName="mobile" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                            <div class="invalidError" *ngIf="(signupForm.get('mobile').invalid && signupFormDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                                                Mobile is Required*
                                            </div>
                                        </div>
                                       <div class="col-lg-3"> </div>
                                       
                    
                                    </div>
                                </div>
                
                                <div class="hrs center">
                                    <hr style="border-top: 2px solid #04958b;">
                                </div>
                                <div class="reg-btn">
                                    <input type="submit" class="submit-button" value="REGISTER NOW">
                                </div>
                            </form>
                            <!-- <div id="already_reg" class="m-2">
                                <p><span class="text-dark">Already Registered?</span> &nbsp; <a routerLink="/login" class="h6" title="Login">Login Here</a></p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button class="btn" (click)="callApi()">call</button>
<!-- <div *ngIf="isSubmitted" style="position: absolute;top:0;" class="loading">
    <div class="loader"></div>

</div> -->