<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="{{bgImg}}" alt="">
        <div id="landingVideo">
          <video id="video" preload="auto" playsinline="" autoplay loop="" src="https://d3ep09c8x21fmh.cloudfront.net/daflon/lobby_video_55.mp4" width="100%" controls="">

          </video>
        </div>
        <a *ngFor="let p of pointers; let i = index" data-bs-toggle="tooltip" class="p{{i+1}}"  data-bs-placement="top" title="{{p.title | titlecase}}" [ngStyle]="{'top':p.top+'%', 'right':p.right+'%'}" (click)="pointerMethod(p)">
          <div class="pulsating-circle"></div>
        </a>
    </div>
</section>
<div id="a_chat_listing">
  <div id="close_modal_popup" class="a_close_chatlist" style="left: -12px;" (click)="closeChatListBox()">&times;</div>    
    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title" id="t_one_groupChatLabel">Chat List</h5>
  </div>
  <div id="a_chat_box">
    <!-- <ul id="a_chat_list">
      <ng-container *ngFor="let list of attendeesList; let i=index">
        <li *ngIf="user_name != list.name" (click)="gotoChatroom(list)">{{list.name}}</li>        
      </ng-container>
    </ul> -->
    <ol class="list-group list-group" id="a_chat_list">
      <ng-container *ngFor="let list of attendeesList; let i=index">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="user_name != list.name" (click)="gotoChatroom(list)" id="a_chat_list_item">
          <div class="ms-2 me-auto">
            <div class="fw-bold" id="a_chat_user">
              <div id="a_circle_user">
                <div id="a_f">{{list.name | slice:0:1}}</div>
              </div>
              <div class="m-2 a_u_name">
                <p>{{list.name}}</p>
                <!-- <p>{{list.company}}</p> -->
              </div>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill"></span>
        </li>       
      </ng-container>
    </ol>
  </div>
</div>
<app-exhibitor-chat [receiver_name]="receiver_name" [receiver_id]="receiver_id"></app-exhibitor-chat>
<app-pdfmodal [rName]="sName"></app-pdfmodal>
