#active{
    background: #ea7f0a !important;
    color: white !important;
    font-weight: 700;
}
#leaderPill{
    display: flex;
    flex-direction: row;
    #SearchItem{
        position: relative;
        padding: inherit 18px;
        .fa{
            position: absolute;
            right: 5px;
            top: 10px;
            color: #2e3031ba;
            font-size: 18px;
        }
    }
    div{
        flex: 33%;
        .btn-success{
            float: right;
        }
    }
}